<div class="container">
  <div class="columns is-multiline">
    <div class="column is-4-desktop is-12-mobile is-12-tablet">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/assets/arts_placeholder.jpg" alt="Arts image placeholder">
          </figure>
        </div>
      </div>
      <p class="category-name">Arts</p>
    </div>
    <div class="column is-4-desktop is-12-mobile is-12-tablet">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/assets/sports_placeholder.jpg" alt="Sports image placeholder">
          </figure>
        </div>
      </div>
      <p class="category-name">Sports</p>
    </div>
    <div class="column is-4-desktop is-12-mobile is-12-tablet">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/assets/technology_placeholder.jpg" alt="Technology image placeholder">
          </figure>
        </div>
      </div>
      <p class="category-name">Technology</p>
    </div>
  </div>
</div>
{{yield}}