@import "../functions/px_to_rem";
@import "../mixins/events_list";
$breakpoint-tablet: 768px;
$breakpoint-mobile-small: 320px;
$breakpoint-mobile-medium: 360px;
$breakpoint-mobile-large: 400px;
$breakpoint-desktop: 1023px;


#events-list {
  padding-top: px-to-rem(30px);
  @include events-list;

  #pagination {
    padding-bottom: px-to-rem(30px);
    display: flex;
    flex-direction: row;
    justify-content: center;

    .pagination-link {
      font-size: px-to-rem(18px);
      color: #4A2545;
      &:hover {
        border-color: #4A2545
      }
    }
    .is-current {
      background-color: #4A2545;
      color: #FFF;
      border-color: #4A2545;
    }
    .step {
      background-color: #7F557D;
      color: #FFF;
      border-color: #7F557D;
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .container {
    padding: 0 80px;
  }
}

@media only screen and (min-width: $breakpoint-mobile-large) and (max-width: $breakpoint-tablet - 1px) {
  .container {
    padding: 0 50px;
  }

  #pagination {
    .pagination-link {
      font-size: px-to-rem(15px);
    }
    .pagination-ellipsis {
      padding: 0 px-to-rem(2px)
    }
  }
}