<div id="event-location">
  <div id="side-header">Location</div>
  <div id="location-fields">
    <div class="toggle">
      <h1>Have a location in mind?</h1>
      <div class="control">
        <label class="radio">
          {{ input type="radio" name="answer"}}
          <div id="center" class="box">
            <span>Want a center</span>
          </div>
        </label>
        <label class="radio">
          {{ input type="radio" name="answer"}}
          <div id="address" class="box">
            <span>An address</span>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>