<div class="container" id="events-form">
  <form {{ action "createEvent" on = "submit" }}>
    {{#let (component 'create/event-info') as |EventInfo|}}
      <EventInfo></EventInfo>
    {{/let}}

    {{#let (component 'create/event-time') as |EventTime| }}
      <EventTime></EventTime>
    {{/let}}

    {{#let (component 'create/event-location') as |EventLocation|}}
      <EventLocation></EventLocation>
    {{/let}}
      <div class="field">
        <p class="control">
          <button class="button is-primary">Submit</button>
        </p>
      </div>
    </form>
</div>

{{outlet}}