<div class="container" id="events-form">
  {{#let (component 'create/event-form') as |EventForm|}}
    <EventForm
      @submit={{"createEvent"}}
      @centers={{this.centers}}>
    </EventForm>
  {{/let}}
</div>

{{outlet}}