<div class="container" id="events-list">
  <div class="columns is-multiline">
    {{#each this.model as |event|}}
      {{#let (component "events/event-item") as |EventItem| }}
        <div class="column is-4-desktop is-12-mobile is-12-tablet">
          <EventItem @event={{event}} />
        </div>
      {{/let}}
    {{/each}}
  </div>
  <div id="pagination">
    {{#let (component "events/pagination") as |Pagination|}}
      <Pagination @meta={{this.model.meta}} @page={{this.page}}></Pagination>
    {{/let}}
  </div>
</div>

{{outlet}}