<div class="column is-one-fifth">
    <div class="box">
        <img src="/assets/avatar.png" id="image"  alt="user-avatar">
        <div id="name">{{user.name}}</div>
        <div id="member">Member</div>
    </div>
</div>

{{yield}}