<div class="ember-view">
  <div class="site-container">
    <Header
        @isAuthenticated={{ session.isAuthenticated }}
        @invalidate ={{ action "invalidateSession" }}
    />
    <div id="site-body">
      {{outlet}}
    </div>
    <Footer></Footer>
  </div>
</div>